nav {
    background-color: skyblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.barra:hover {
    background-color: rgb(175, 224, 243);
}

.info_columna {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 40px 20px;
}

.info_columna img {
    width: 100%;
    height: auto;
    /* ajustar al movil */
}

.argumento_texto {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 22px;
}

.titulo_promociones {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #131313;
    margin-bottom: 40px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor_promo {
    display: flex;
    flex-direction:
        column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.promo:hover {
    scale: 1.05;
    border-radius: 10px;
}

.promo {
    transition: all 200ms;
    height: 280px
}

#imagen_index {
    opacity: 0;
    animation-name: aparecer;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    /* Mantiene la imagen visible al terminar */
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#imagen_vet {
    animation-name: girozoom;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

@keyframes girozoom {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.1);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}


#imagen_equipo {
    animation-name: balance;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: infinite;
}

@keyframes balance {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#imagen_instalaciones {
    animation-name: mover_abajo;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes mover_abajo {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(20px);
    }
}


.logo {
    animation-name: mianimacion;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mianimacion {
    50% {
        transform: translate(90vw);
    }

    100% {
        transform: translate(0vw);
    }
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}

.contenido_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.imagen-info-columna {
    width: 400px;
    min-width: 300px;
}

.contenedor_visual {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sobre_nosotros {
    display: flex;
    justify-content: space-evenly
}

#imagen_equipo {
    width: 400px;
    height: 400px;
    background-image: url('imagenes/equipo.jpg');
    border-radius: 120px;
}

.servicios {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contenedor_servicios {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.contenido-servicios {
    display: flex;

}

.contacto {
    display: flex;
    padding: 50px;
}

iframe {
    width: 100%;
    height: 450px;
}

.carousel-item {
    height: 70vh;
}

.carousel-item img {
    width: 100vw !important; 
}


h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 21, 21);
    font-size: 50px !important
}

footer {
    background-color: skyblue;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 0 20px;
    margin-top: 10px;
}

#formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}


@media (max-width: 640px) {
    .contenido_flex {
        flex-direction: column;
        text-align: center;
    }

    .info_columna {
        width: 100%;
    }

    .contenedor_promo {
        width: 100%;
    }

    .sobre_nosotros {
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .carousel-item img {
        height: 400px;
        object-fit: cover;
    }
}